<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="employeeAction" class="com.laborguru.action.employee.EmployeePrepareAction" scope="prototype">
		<property name="positionService" ref="positionService"/>
		<property name="employeeService" ref="employeeService"/>		
		<property name="referenceDataService" ref="referenceDataService"/>		
	</bean>

	<bean id="referenceDataService"
		class="com.laborguru.service.data.ReferenceDataServiceBean">
	</bean>

	<bean id="positionService"
		class="com.laborguru.service.position.PositionServiceBean">
		<property name="positionDao" ref="positionDao" />
	</bean>

	<bean id="positionDao"
		class="com.laborguru.service.position.dao.PositionDaoHibernate">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="menuService"
		class="com.laborguru.service.menu.MenuServiceBean">
		<property name="menuDao" ref="menuDao" />
	</bean>

	<bean id="menuDao"
		class="com.laborguru.service.menu.dao.MenuDaoHibernate">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="userService"
		class="com.laborguru.service.user.UserServiceBean">
		<property name="userDao" ref="userDao" />
	</bean>

	<bean id="userDao"
		class="com.laborguru.service.user.dao.UserDaoHibernate">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
	
	<bean id="employeeService"
		class="com.laborguru.service.employee.EmployeeServiceBean">
		<property name="employeeDao" ref="employeeDao"/>
		<property name="userDao" ref="userDao"/>
 	</bean>
 	
 	<bean id="employeeDao"
 		class="com.laborguru.service.employee.dao.EmployeeDaoHibernate">
 		<property name="hibernateTemplate" ref="hibernateTemplate"/>
 	</bean>
 	
	<bean id="authenticateService" class="com.laborguru.service.security.AuthenticationService">
		<property name="service" ref="userService" />
		<property name="loginTries" value="${conn.max_login_times}"/>
	</bean>


	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="mySessionFactory" />
		</property>
	</bean>


	<bean id="mySessionFactory"	class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="myDataSourcePool" />
		</property>
		<property name="mappingResources">
			<list>
				<value>com/laborguru/model/MenuItem.hbm.xml</value>
				<value>com/laborguru/model/Office.hbm.xml</value>
				<value>com/laborguru/model/Permission.hbm.xml</value>
				<value>com/laborguru/model/Position.hbm.xml</value>
				<value>com/laborguru/model/Profile.hbm.xml</value>
				<value>com/laborguru/model/Store.hbm.xml</value>
				<value>com/laborguru/model/User.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<ref local="hibernateProperties" />
		</property>

	</bean>

	<bean id="hibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>

	<bean id="myDataSourcePool" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${db.driverClassName}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
	</bean>
	
	<bean id="spmLogger" class="com.laborguru.logger.DefaultSpmLogger" factory-method="getInstance">
		<property name="logMessagesConfigResource" value="/log-messages.properties"/>
	</bean>
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="location" value="classpath:spm.properties"/>
	</bean>
</beans>

