/*
Colors:
Table Borders: #184E01

Selected: #66FF99
Break: #FDDB80

*/
#scheduleActionsTable {
}

#scheduleMainTable {
	border: 2px solid #184E01;
}


.scheduleMainTableHeader {
	background-color: #A3D39C;
	color: #184E01;
	font-size: 13px;
	text-align: center;
	font-family: tahoma, arial, sans-serif;
	font-weight: bold;
}

.scheduleCellHeader {
	border: 1px solid #184E01;
}

.scheduleActionMessage {
	color: orange;
	font-size: 11px;
	text-align: left;
	font-family: tahoma, arial, sans-serif;
}

.scheduleMainTableEmployeeRow {
}

.scheduleNameCell {
	border: 1px solid #184E01;
	background-color: #DEEFDC;
	color: #184E01;
	font-size: 12px;
	text-align: left;
	font-family: tahoma, arial, sans-serif;
}

.scheduleValueCell {
	border: 1px solid #184E01;
	background-color: #DEEFDC;
	color: #184E01;
	font-size: 12px;
	text-align: center;
	font-family: tahoma, arial, sans-serif;
	font-weight: bold;
}

.scheduleEmployeeTotalHoursExceeded {
	border: 1px solid #184E01;
	background-color: #FFF337;
	color: #FF1717;
	font-size: 12px;
	text-align: center;
	font-family: tahoma, arial, sans-serif;
	font-weight: bold;
}

.scheduleStaffingNameCell {
	border: 1px solid #184E01;
	background-color: #FFFFFF;
	color: #184E01;
	font-size: 12px;
	text-align: right;
	font-family: tahoma, arial, sans-serif;	
}

.scheduleStaffingValueCell {
	border: 1px solid #184E01;
	background-color: #DEEFDC;
	color: #184E01;
	font-size: 12px;
	text-align: center;
	font-family: tahoma, arial, sans-serif;
}

.scheduleTotalValueCell {
	border: 1px solid #184E01;
	background-color: #FFFFFF;
	color: #184E01;
	font-size: 12px;
	text-align: center;
	font-family: tahoma, arial, sans-serif;	
}

.scheduleStaffingUnavailable {
	background-color: #CACACA;
	border: 1px solid #184E01;
	width: 5px;	
}

.scheduleStaffingCalculated {
	background-color: #FFFFF;
	border: 1px solid #184E01;
	width: 5px;
	color: #184E01;
	font-size: 12px;
	text-align: center;	
}

.scheduleStaffingDifferenceNegative {
	background-color: #FFF337;
	border: 1px solid #184E01;
	width: 5px;
	color: #FF1717;
	font-size: 12px;
	text-align: center;		
}

.scheduleStaffingDifferencePositive {
	background-color: #F4D819;
	border: 1px solid #184E01;
	width: 5px;
	color: #184E01;
	font-size: 12px;
	text-align: center;		
}

.scheduleStaffingDifferenceEqual {
	background-color: #FFFFF;
	border: 1px solid #184E01;
	width: 5px;
	color: #184E01;
	font-size: 12px;
	text-align: center;	
}

td.scheduleStartSelection {
	background-color: #63B177;
	border: 1px solid #184E01;
}

td.scheduleSelected {
	border-right: 1px hidden #66FF99;
	border-left: 1px hidden #66FF99;
	border-top:1px solid #184E01;
	border-bottom: 1px solid #184E01;
	background-color: #66FF99;
	width: 7px;
}

td.scheduleSelectedCaption {
	border:1px solid #184E01;
	background-color: #66FF99;
	width: 5px;
}

td.scheduleBreak {
	border-right: 1px hidden #FDDB80;
	border-left: 1px hidden #FDDB80;
	border-top:1px solid #184E01;
	border-bottom: 1px solid #184E01;
	width: 7px;
	background-color: #FDDB80;
}

td.scheduleBreakCaption {
	border:1px solid #184E01;
	width: 5px;
	background-color: #FDDB80;
}

td.scheduleEmptyCaption {
	border:1px solid #184E01;
	width: 5px;
	background-color: #FFFFFF;
}

td.scheduleEmpty {
	background-color: #FFFFFF;
	border: 1px solid #184E01;
	width: 5px;
}



td.scheduleUnavailable {
	background-color: #CACACA;
	border: 1px solid #184E01;
	width: 5px;
}

td.scheduleEndSelection {
	background-color: #63B177;
	border: 1px solid #184E01;
}

td.scheduleSelectingOver {
	background-color: #63B177;
	border: 1px solid #184E01;
}

img.scheduleActionImageOff {
	border: none;
}

img.scheduleActionImageOn {
	border: 1px solid #184E01;
}