   html,body{
	  margin:0;
	  padding:0;
	  height:100%;
	  border:none;
   }
   
   #bodyTable{height:100%;
	  font: 11px tahoma, arial, sans-serif;
   }
	 #headerRow{height:90px;
	 }
	 #bodyRow{height:100%;background-color:#FFFFFF;
	 vertical-align:top;
	 }
	 #footerRow{height:20px;;background-color:#DEEFDC;
	font-weight: bold;
	text-decoration: none;	
	color:#003300;
	font: 11px tahoma, arial, sans-serif;
	text-align: center;
	 }

   #headerTable{height:100%;background-color:red;}
   #headerTop{height:75px;background-color:#A3D39C;
   }
   #headerBottom{
	height:15px;
	background-color:#DEEFDC;
	font-weight: bold;
	text-decoration: none;	
	color:#003300;
	font: 11px tahoma, arial, sans-serif;
}
   
   #titleBar {
height:19px;
width: 100%;
background-color:#A3D39C;
color:#FFFFFF;
padding-left:7px;
font-size:13px;
text-align: center;
}

#loginFormTable {
background-color:#DEEFDC;
}
	 
input,textarea {
/*border-color:#003300;*/
border: 1px solid #003300;
}	 

input.button{
	padding:2px 5px 3px 5px;
	border-style:solid;
	border-top-width:1px;
	border-left-width:1px;
	border-bottom-width:1px;
	border-right-width:1px;
	border-top-color:#D9DFEA;
	border-left-color:#FFFFFF;
	border-bottom-color:#003300;
	border-right-color:#003300;
	font-family:tahoma, arial, sans-serif;
	font-size:12px;
	background-color:#A3D39C;
	color:#FFFFFF;
   }

.label {
   font-family:tahoma, arial, sans-serif;
   font-size:12px;
   color: #003300;
}

.value {
	font-weight: bold;
	font-family:tahoma, arial, sans-serif;
	font-size:12px;
	color: #184E01;
}


#searchFormTable {
	background-color:#F7F7F7;
}
	 
#resultsTable {
}

.resultsTableHeader {
background-color:#A3D39C;
color:#FFFFFF;
font-size:13px;
text-align: center;
font-family:tahoma, arial, sans-serif;
}

.resultsTableOddRow {
	background-color:#F7F7F7;
font-size:12px;
font-family:tahoma, arial, sans-serif;
}

.resultsTableEvenRow {
	background-color:#DEEFDC;
font-size:12px;
font-family:tahoma, arial, sans-serif;
}

#editFormTable {
}

.editFormOddRow {
	background-color:#F7F7F7;
font-size:12px;
font-family:tahoma, arial, sans-serif;
}

.editFormEvenRow {
	background-color:#FFFFFF;
font-size:12px;
font-family:tahoma, arial, sans-serif;
}

/*
html, body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
*/
img {
	border: 0;
}
a {
   font-family:tahoma, arial, sans-serif;
   font-size:11px;
   color: #003300;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

body, h1, h2, h3, form {
	font: 11px tahoma, arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #5C5C5C;
}

/**
body {
	background: url(images/header_bg2.jpg) repeat-x;
	text-align: center;
}
*/

#datospersonales {
height:19px;
width: 100%;
background: url(images/d_personales_uno.jpg) repeat-x;

	
color:#FFFFFF;
padding-left:7px;
font-size:13px;
text-align: center;
}
#datostrabajo {
height:19px;
width: 100%;
background: url(images/d_personales_uno.jpg) repeat-x;

color:#FFFFFF;
padding-left:7px;
font-size:13px;
text-align: center;
}
#datosdisponibilidad{
height:19px;
width: 100%;
background: url(images/d_personales_uno.jpg) repeat-x;

color:#FFFFFF;
padding-left:7px;
font-size:13px;
text-align: center;
}

#buscar {
/*border: 1px solid #a0b646;*/

}
#contenido {
margin-top:46px;
width: 774px;
}
#q {
	width: 140px;
	border: 1px solid #859D31;
}
select{
font-size:11px;

	border: 1px solid #859D31;

}

/*#datos table {
	
	border: 1px solid #859D31;
}
#datos can{
	
	border: 0px;
}*/

/*#contenido {
background-color:#00FF00;
margin-top:1280px;
float:left;

	margin: auto;
	
	width: 774px;
	
}*/

#wrapper {
	text-align: left;
	margin: auto;
	width: 774px;	
}


#header {
margin-top:0px;	
}
#header h1 {

	margin-top: 14px;
	
}
#header h1 img {
	display: block;
}
#nav {
	margin-top: 0px;
}
#nav img {
	float: left;
}

#headline {
	padding-top: 205px;
}


a {
	font-weight: bold;
	color: #5C5C5C;
}

#body {
	padding-top: 2em;
	text-align: justify;
}

#body-left {
margin-top:50px;
	float: left;
	width: 704px;
}
/*#body-right {
	float: right;
	width: 330px;
}

#body-right p {
	margin-right: 2em;
}*/


#footer {
	color: #FFFFFF;
	width:100%;
	height:25px;
	
	
	background: #42453D url(images/footer_bg.gif) repeat-x;
	float:left;
	padding: 6px 0 5px 0;
	
	font-weight: bold;
}
#footer p {
text-align:center;
	margin: 0;
	padding: 3px;
}
.futer{
height:40px;
	
}
#botonera {
height:40px;
	
}
input.btn{
  
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:13px;
   background-image:url(images/bt2.gif);
   color:#FFFFFF;
   border-color:#FFFFFF;

   }

.medio{
margin-left:250px;
  
 
   } 

/* botoner */
.calendario_imagen{
background: #f5fafa url(images/calendar.gif) no-repeat;
border:0;
	   
}
#iso{float:right;}
.blue #slatenav{position:relative;display:block;height:42px;font-size:11px;font-weight:bold;background:transparent url(images/back.gif) repeat-x top left;font-family:Arial,Verdana,Helvitica,sans-serif;text-transform:uppercase;}
.blue #slatenav ul{padding:0;list-style-type:none;width:auto;}
.blue #slatenav ul li{display:block;float:left;margin:6px 1px 0 0;}
.blue #slatenav ul li a{display:block;float:left;color:#D5F1FF;text-decoration:none;padding:14px 22px 0 22px;height:28px;}
.blue #slatenav ul li a:hover,.blue #slatenav ul li a.current{color:#fff;background:transparent url(images/over1.gif) repeat-x;}


