html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	border: none;
}

form {
	margin: 0;
	padding: 0;
	border: none;
}

a {
	font-weight: bold;
	color: #5C5C5C;
}

a.link {
	font-family: tahoma, arial, sans-serif;
	font-size: 11px;
	color: #003300;
	font-weight: bold;
	text-decoration: none;
}

a.link:hover {
	text-decoration: underline;
}

#bodyTable {
	height: 100%;
	font: 11px tahoma, arial, sans-serif;
}

#headerRow {
	height: 90px;
}

#bodyRow {
	height: 100%;
	background-color: #FFFFFF;
	vertical-align: top;
}

#footerRow {
	height: 20px;;
	background-color: #DEEFDC;
	font-weight: bold;
	text-decoration: none;
	color: #003300;
	font: 11px tahoma, arial, sans-serif;
	text-align: center;
}

#headerTable {
	height: 100%;
}

#headerTop {
	height: 75px;
	background-color: #A3D39C;
	background-image: url(../images/header-top-bg.png);
	background-position: bottom;
	background-repeat: repeat-x;
}

#headerBottom {
	height: 15px;
	background-color: #DEEFDC;
	font-weight: bold;
	text-decoration: none;
	color: #003300;
	font: 11px tahoma, arial, sans-serif;
}

#titleBar {
	height: 19px;
	width: 100%;
	background-color: #A3D39C;
	background-image: url(../images/title-bar-bg.png);
	background-position: top;
	background-repeat: repeat-x;
	color: #FFFFFF;
	padding-left: 7px;
	font-size: 13px;
	text-align: center;
}

#subtitleBar {
	height: 19px;
	width: 100%;
	background-color: #A3D39C;
	background-image: url(../images/title-bar-bg.png);
	background-position: top;
	background-repeat: repeat-x;
	color: #FFFFFF;
	padding-left: 7px;
	font-size: 13px;
	text-align: left;
}

#loginFormTable {
	background-color: #DEEFDC;
}

input,textarea {
	border: 1px solid #003300;
}

input.button {
	padding: 2px 5px 3px 5px;
	border-style: solid;
	border-top-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-top-color: #D9DFEA;
	border-left-color: #FFFFFF;
	border-bottom-color: #003300;
	border-right-color: #003300;
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	background-color: #A3D39C;
	color: #FFFFFF;
}

.form_label {
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	color: #003300;
}

.value {
	font-weight: bold;
	font-family: tahoma, arial, sans-serif;
	font-size: 11px;
	color: #184E01;
}

#searchFormTable {
	background-color: #F7F7F7;
}

#resultsTable {
	
}

table.results {
	width: 100%;
	border-collapse: separate;
}

table.results th {
	background-color: #A3D39C;
	background-image: url(../images/table-header-bg.png);
	background-position: center;
	background-repeat: repeat-x;
	color: #184E01;
	font-size: 13px;
	text-align: center;
	font-family: tahoma, arial, sans-serif;
	font-weight: bold;
}

table.results th a {
	color: black;
	text-decoration: underline;
}

.resultsColumnCentered {
	text-align: center;
	padding:0;
}

/*
.resultsTableHeader {
	background-color: #A3D39C;
	background-image: url(../images/table-header-bg.png);
	background-position: center;
	background-repeat: repeat-x;
	color: #184E01;
	font-size: 13px;
	text-align: center;
	font-family: tahoma, arial, sans-serif;
	font-weight: bold;
	padding: 0px;
}
*/

.resultsTableOddRow {
	background-color: #F7F7F7;
	font-size: 12px;
	font-family: tahoma, arial, sans-serif;
	color: #184E01;
}

.resultsTableEvenRow {
	background-color: #DEEFDC;
	font-size: 12px;
	font-family: tahoma, arial, sans-serif;
	color: #184E01;
}

.resultsTableLink {
	font-size: 12px;
	font-family: tahoma, arial, sans-serif;
	color: #007500;
	text-decoration: none;
	font-weight: normal;
}

.resultsTableLink:hover {
	text-decoration: underline;
}


/* css for display tags */ 
.pagebanner {
	font-size: 12px;
	font-family: tahoma, arial, sans-serif;
	margin-top:5px;
	padding-left:4px
}

.pagelinks {
	float:right;
	margin-top:5px;
	padding-right:4px;
	font-size: 12px;
	font-family: tahoma, arial, sans-serif;
}

.pagelinks a {
	text-decoration:underline
}

.pagelinks a:hover {
	text-decoration:none
}
/* end css for display tags */ 

#editFormTable {
	
}

.editFormOddRow {
	background-color: #F7F7F7;
	font-size: 12px;
	font-family: tahoma, arial, sans-serif;
}

.editFormEvenRow {
	background-color: #FFFFFF;
	font-size: 12px;
	font-family: tahoma, arial, sans-serif;
}

.infoMessage {
	font-style: italic;
	font-size: 11px;
	font-family: tahoma, arial, sans-serif;
}

.errorSecurityTitle {
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	font-family: tahoma, arial, sans-serif;
	color: red;
}

.errorSecurityMessage {
	font-size: 11px;
	font-family: tahoma, arial, sans-serif;
	color: red;
}

.errorMessage {
	font-size: 11px;
	font-family: tahoma, arial, sans-serif;
	color: red;
}

#menuTable {
	
}

.availableMenuItem {
	background-color: #184E01;
	background-image: url(../images/avail-menu-item-bg.png);
	background-position: top;
	background-repeat: repeat-x;
	text-align: center;
	font-weight: bold;
}

.availableMenuItemOver {
	background-color: #DEEFDC;
	background-image: url(../images/sel-menu-item-bg.png);
	background-position: top;
	background-repeat: repeat-x;
	text-align: center;
}

.selectedMenuItem {
	background-color: #DEEFDC;
	background-image: url(../images/sel-menu-item-bg.png);
	background-position: top;
	background-repeat: repeat-x;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 8px;
	padding-top: 8px;
	text-align: center;
	font-size: 12px;
	font-family: tahoma, arial, sans-serif;
	font-weight: bold;
	color: #184E01;
}

a.availableMenuItemAnchor {
	font-size: 12px;
	font-family: tahoma, arial, sans-serif;
	text-decoration: none;
	display: block;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 8px;
	padding-top: 8px;
	color: #FFFFFF;
	font-weight: bold;
}

a.availableMenuItemAnchor:hover {
	text-decoration: none;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 8px;
	padding-top: 8px;
	color: #184E01;
	font-weight: bold;
}

#subMenuTable {
	
}

.subMenuItem {
	padding-right: 10px;
	padding-left: 10px;
}

.subMenuItemAnchor {
	font-size: 11px;
	font-family: tahoma, arial, sans-serif;
	color: #184E01;
	text-decoration: none;
	font-weight: normal;
}

.subMenuItemAnchor:hover {
	text-decoration: underline;
}

img {
	border: 0;
}

select {
	font-size: 11px;
	border: 1px solid #859D31;
}

#actionsTable {
	border: 1px solid #184E01;
}

.actionsTableHeader {
	height: 19px;
	width: 100%;
	background-color: #A3D39C;
	background-image: url(../images/title-bar-bg.png);
	background-position: top;
	background-repeat: repeat-x;
	color: #FFFFFF;
	padding-left: 7px;
	font-size: 13px;
	text-align: center;
}

.actionsTableValue {
	
}

.actionsLink {
	font-family: tahoma, arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #184E01;
	text-decoration: none;	
}

.actionsLink:hover {
	text-decoration: underline;
}

.editorTableHeader {
	background-color: #A3D39C;
	background-image: url(../images/table-header-bg.png);
	background-position: center;
	background-repeat: repeat-x;
	color: #184E01;
	font-size: 12px;
	text-align: center;
	font-family: tahoma, arial, sans-serif;
	font-weight: bold;
}

.editorTableFirstColumn {
	background-color: #DEEFDC;
	color: #184E01;
	font-size: 12px;
	text-align: center;
	font-family: tahoma, arial, sans-serif;
	font-weight: bold;
}

.editorTableOddRow {
	background-color: #F7F7F7;
	font-size: 12px;
	font-family: tahoma, arial, sans-serif;
	color: #184E01;
	text-align: center;
}

.editorTableEvenRow {
	background-color: #DEEFDC;
	font-size: 12px;
	font-family: tahoma, arial, sans-serif;
	color: #184E01;
	text-align: center;
}