   html,body{
	  margin:0;
	  padding:0;
	  height:100%;
	  border:none;
   }

a {
	font-weight: bold;
	color: #5C5C5C;
}

a.link {
   font-family:tahoma, arial, sans-serif;
   font-size:11px;
   color: #003300;
	font-weight: bold;
	text-decoration: none;
}
a.link:hover {
	text-decoration: underline;
}
   
   #bodyTable{height:100%;
	  font: 11px tahoma, arial, sans-serif;
   }
	 #headerRow{height:90px;
	 }
	 #bodyRow{height:100%;background-color:#FFFFFF;
	 vertical-align:top;
	 }
	 #footerRow{height:20px;;background-color:#DEEFDC;
	font-weight: bold;
	text-decoration: none;	
	color:#003300;
	font: 11px tahoma, arial, sans-serif;
	text-align: center;
	 }

   #headerTable{height:100%;}
   #headerTop{height:75px;background-color:#A3D39C;
   }
   #headerBottom{
	height:15px;
	background-color:#DEEFDC;
	font-weight: bold;
	text-decoration: none;	
	color:#003300;
	font: 11px tahoma, arial, sans-serif;
}
   
   #titleBar {
height:19px;
width: 100%;
background-color:#A3D39C;
color:#FFFFFF;
padding-left:7px;
font-size:13px;
text-align: center;
}

#loginFormTable {
background-color:#DEEFDC;
}
	 
input,textarea {
border: 1px solid #003300;
}	 

input.button{
	padding:2px 5px 3px 5px;
	border-style:solid;
	border-top-width:1px;
	border-left-width:1px;
	border-bottom-width:1px;
	border-right-width:1px;
	border-top-color:#D9DFEA;
	border-left-color:#FFFFFF;
	border-bottom-color:#003300;
	border-right-color:#003300;
	font-family:tahoma, arial, sans-serif;
	font-size:12px;
	background-color:#A3D39C;
	color:#FFFFFF;
   }

.label {
   font-family:tahoma, arial, sans-serif;
   font-size:12px;
   color: #003300;
}

.value {
	font-weight: bold;
	font-family:tahoma, arial, sans-serif;
	font-size:11px;
	color: #184E01;
}


#searchFormTable {
	background-color:#F7F7F7;
}
	 
#resultsTable {
}

.resultsTableHeader {
background-color:#A3D39C;
color:#FFFFFF;
font-size:13px;
text-align: center;
font-family:tahoma, arial, sans-serif;
}

.resultsTableOddRow {
	background-color:#F7F7F7;
font-size:12px;
font-family:tahoma, arial, sans-serif;
}

.resultsTableEvenRow {
	background-color:#DEEFDC;
font-size:12px;
font-family:tahoma, arial, sans-serif;
}

#editFormTable {
}

.editFormOddRow {
	background-color:#F7F7F7;
font-size:12px;
font-family:tahoma, arial, sans-serif;
}

.editFormEvenRow {
	background-color:#FFFFFF;
font-size:12px;
font-family:tahoma, arial, sans-serif;
}

.infoMessage {
font-style:italic;
font-size:11px;
font-family:tahoma, arial, sans-serif;
}

.errorMessage {
font-size:11px;
font-family:tahoma, arial, sans-serif;
color:red;
}

#menuTable {
}

.availableMenuItem {
background-color:#184E01;
text-align:center;
font-weight:bold;
border-right: 2px solid #A3D39C;
}

.availableMenuItemOver {
background-color:#DEEFDC;
text-align:center;
border-right: 2px solid #A3D39C;
}

.selectedMenuItem {
background-color:#DEEFDC;
padding-left: 12px;
padding-right: 12px;
padding-bottom: 8px;
padding-top: 8px;
text-align:center;
font-size:12px;
font-family:tahoma, arial, sans-serif;
font-weight:bold;
color:#184E01;
border-right: 2px solid #A3D39C;
}

a.availableMenuItemAnchor {
font-size:12px;
font-family:tahoma, arial, sans-serif;
text-decoration: none;
display:block;
padding-left: 12px;
padding-right: 12px;
padding-bottom: 8px;
padding-top: 8px;
color:#FFFFFF;
font-weight:bold;
}

a.availableMenuItemAnchor:hover {
text-decoration: none;
padding-left: 12px;
padding-right: 12px;
padding-bottom: 8px;
padding-top: 8px;
color:#184E01;
font-weight:bold;
}

#subMenuTable {
}

.subMenuItem {
padding-right: 10px;
padding-left: 10px;
}

.subMenuItemAnchor {
font-size:11px;
font-family:tahoma, arial, sans-serif;
color:#184E01;
text-decoration: none;
font-weight:normal;
}

.subMenuItemAnchor:hover {
text-decoration: underline;
}

img {
	border: 0;
}
select{
font-size:11px;
	border: 1px solid #859D31;
}
